<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Vetements</title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">
					Liste des Vetements
					<hr />
					<form th:action="@{searchVetement}" method="post">
						<div class="d-flex justify-content-between w-50">
						<input type="text" name="nomMar" placeholder="Rechercher par nom vetement"
							class="form-control " />
						<button type="submit" class="btn btn-primary">Rechercher</button>
						</div>
					</form>
				</div>
				<div class="card-body">
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Marque</th>
							<th>Prix</th>
							<th>Date Creation</th>
							<th colspan="2">Actions</th>
						</tr>
						<tr th:each="p:${vetements}">
							<td th:text="${p.idVetement}"></td>
							<td th:text="${p.nomVetement}"></td>
							<td th:text="${p.marque.nomMar}"></td>
							<td th:text="${p.prixVetement}"></td>
							<td th:text="${p.dateCreation}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger"
								onclick="return confirm('Etes-vous sûr ?')"
								th:href="@{supprimerVetement(id=${p.idVetement})}">Supprimer</a>
							</td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-success"
								th:href="@{modifierVetement(id=${p.idVetement})}">Editer</a></td>
						</tr>
					</table>


				</div>
			</div>
		</div>
	</div>
</body>
</html>